header { 
    padding: 20px;
    color: rgb(122, 119, 118);
    background-color: orange;
    text-align: center;
}

main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main > section {
                width: auto;
                position:relative;
                background-color: #707279;
                border:none;
                color: white;
                padding: 32px 64px;
                font-size: 22px;
                margin:2px;
                opacity: 0.6;
                transition: 0.3s;
                display: flex;
                text-decoration:wavy;
                cursor: pointer;
                border-radius: 50%;
                opacity: 1;
}